go 1.25.1

use (
	./pb
	./pkg
	./service/apigateway
	./service/auth
	./service/card
	./service/email
	./service/merchant
	./service/migrate
	./service/role
	./service/saldo
	./service/topup
	./service/transaction
	./service/transfer
	./service/user
	./service/withdraw
	./shared
	./tests
)
